@model ConfirmMailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesap Aktifleştirme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background: linear-gradient(to right, #ff6e7f, #bfe9ff);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .activation-form {
            background: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

            .activation-form label {
                font-size: 1.2em;
                color: #333;
            }

            .activation-form input {
                margin-top: 10px;
                margin-bottom: 20px;
            }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
        }

            .btn-primary:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <form class="activation-form" method="post">
        <h2 class="mb-4">Hesap Aktifleştirme</h2>
        <br />
        <h2> Mail adresinizi Kontrol edin  : @TempData["Mail"] </h2>
        <label>Kullanıcı ID degeri </label>
        <input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
        <label for="activation-code">Mail adresinize gelen 6 haneli kodu giriniz</label>
        <input type="text" id="activation-code" class="form-control" asp-for="ConfirmCode" />
        <button class="btn btn-primary mt-3">Hesabı Aktifleştir</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
<!--  -->